@use 'base/variables' as v;
@use 'base/mixins' as m;
/* Estilo para el contenedor del comentario */
.comentario {
    //border: .5rem solid v.$verdeOscuro;
    border-radius: 1rem;
    background-color: lighten(v.$verde, 50%);
    padding: v.$separacionPequenia;
    margin-bottom: v.$separacionPequenia;
    display: flex;
    flex-direction: column;
    font-weight: v.$negritas;
    color: v.$gris;
    .datos{
        display: flex;
        justify-content: space-between;
        div:first-of-type{
            text-transform: uppercase;
            margin-bottom: .5rem;
        }
    }
    .contenido {
        color: v.$negro;
        font-size: 1.5rem;
        max-width: 100%;
        overflow-wrap: break-word;
    }
}
.comentario:hover {
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
    transition: transform 0.3s ease;
}
