@use 'base/variables' as v;
@use 'base/mixins' as m;

//login
.formulario {
    margin-top: v.$separacion;

    .campo {
        display: flex;
        align-items: center;
        margin: 0 0 v.$separacionPequenia 0;
    }

    label {
        flex: 0 0 v.$separacion*2;
    }

    input {
        flex: 1;
        padding: 1rem;
        border: none;
        background-color: v.$grisClaro;
    }

    input[type="submit"] {
        @include m.boton(v.$verde, v.$blanco)
    }
}

.btn-eliminar-modificar{
    input[type="submit"] {
        @include m.boton(v.$rojo, v.$blanco);
    }
}

.formulario_btnNaranja {
    margin-top: v.$separacionPequenia;

    input[type="submit"] {
        @include m.boton(v.$naranja, v.$blanco)
    }
}

//barra de busqueda
.buscar {

    @include m.TituloPrincipal {
        display: flex;
        flex-direction: column;
        margin-top: v.$separacion;


        input[type="text"] {
            flex: 1;
            padding: 1rem;
            border: none;
            background-color: v.$grisClaro;
        }

        input[type="submit"] {
            margin-top: 2rem;
            @include m.boton(v.$verde, v.$blanco)
        }


    }

    @include m.tablet {
        display: flex;
        flex-direction: row;
        margin-top: v.$separacion;


        input[type="text"] {
            flex: 1;
            padding: 1rem;
            border: none;
            background-color: v.$grisClaro;
        }

        input[type="submit"] {
            @include m.boton(v.$verde, v.$blanco)
        }
    }


}

//lista de estadisticas
.formulario-lista {
    select {
        background-color: lighten(v.$verde, 50);
        width: 100%;
        padding: 1rem;
        border: none;
        text-transform: uppercase;
        font-weight: v.$negritas;
        font-size: v.$separacionPequenia;
    }
}

//formulario para registrar libro
.formulario-crear {
    margin-top: 0;
    textarea {
        flex: 1;
        padding: 1rem;
        border: none;
        background-color: v.$grisClaro;
    }
    input[type="submit"] {
        @include m.boton(v.$verde, v.$blanco);
        margin-bottom: v.$separacionPequenia;
    }
}

//formulario para usuarios
.formulario-tabla{
    margin-bottom: v.$separacion;
    table{
        display: flex;
        justify-content: center;

        input{
        max-width: v.$separacion*2;
        }
        th, td {
            padding: .5rem;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }
        tr {
            background-color: #f2f2f2;
            td:first-of-type{
                text-align: left;
            }
        }
    }
    .btn-crear{
        display: flex;
        justify-content: center;
        input[type="submit"] {
            @include m.boton(v.$verde, v.$blanco);
        }
    }
    .btn-actualizar{
        display: flex;
        justify-content: center;
        input[type="submit"] {
            @include m.boton(v.$naranja, v.$blanco);
        }
    }
    .btn-eliminar{
        display: flex;
        justify-content: center;
        input[type="submit"] {
            @include m.boton(v.$rojo, v.$blanco);
        }
    }
}


