// Fuentes
$fuente_headings: 'Inter', sans-serif;
$fuente_textos: 'Open Sans', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$cyan: #0891B2;
$azul: #2563EB;
$indigo: #4338CA;
$morado: #7C3AED;
$naranja:#F59E0B;
$rosa: #DB2777;

$blanco: #FFFFFF;
$grisClaro: #d3d3d3;
$gris: #6b7280;
$grisOscuro: #4B5563;
$negro: #000;

$rojo: #a90000;
$verde: #559435;

//colores utec
$verdeOscuro: #4a7446;
$azulOscuro: #1c1c43;

//cambios
$primario: #870f54;;
$secundario: #fbc425;
$terciario: #9ea1a7;
$cuaternario : #111b5b;

$separacion: 5rem;
$separacionPequenia: 2rem;

$negritas: 900