// Fuentes
$fuente_headings: 'Inter', sans-serif;
$fuente_textos: 'Open Sans', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$cyan: #0891B2;
$azul: #2563EB;
$indigo: #4338CA;
$morado: #7C3AED;
$naranja:#F59E0B;
$rosa: #DB2777;

$blanco: #FFFFFF;
$grisClaro: #d3d3d3;
$gris: #6b7280;
$grisOscuro: #4B5563;
$negro: #000;

$rojo: #a90000;
$verde: #559435;
//$verde: #870f54;

//colores utec
$verdeOscuro: #4a7446;
//$verdeOscuro: #6e244f;
$azulOscuro: #1c1c43;
//$azulOscuro: #111b5b;
$amarillo: #fbc425;

$separacion: 5rem;
$separacionPequenia: 2rem;

$negritas: 900